.allCards {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
}

.allCards img {
    margin: 5px;
    padding: 20px;
    border: 1px palevioletred;
    max-height: 200px;
    max-width: 200px;
    background-color: orange;
}